.mat-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-rendu{
    color: red;
    font-weight: bold;
}

.pas-commence{
    background-color: red  !important;
}

.en-cours{
    background-color: orange  !important;
}

.termine{
    background-color: green  !important;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}