<main *ngIf="!formVisible" [ngClass]="'container'">
  <!-- assignments pas commencé -->
  <div [ngClass]="'assignments-container'">
    <mat-list *ngFor="let a of assignmentsPasCommence">
      <a routerLink="assignment/{{a._id}}">
        <mat-card [ngClass]="'card-container'" (click)="assignmentClique(a)">
          <mat-card-title>{{a.nom}}</mat-card-title>
          <h3 mat-subheader>Pour le:  {{a.dateDeRendu | date}}</h3>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip [ngStyle]="{'background-color': 'red'}" selected>
              {{a.statut}}
            </mat-chip>
          </mat-chip-list>
          <p>
            {{a.professeur}}
          </p>
        </mat-card>
      </a>
    </mat-list>
  </div>

  <!-- assignments en cours -->
  <div [ngClass]="'assignments-container'">
    <mat-list *ngFor="let a of assignmentsEnCours">
      <a routerLink="assignment/{{a._id}}">
        <mat-card [ngClass]="'card-container'" (click)="assignmentClique(a)">
          <mat-card-title>{{a.nom}}</mat-card-title>
          <h3 mat-subheader>Pour le: {{a.dateDeRendu | date}}</h3>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip [ngStyle]="{'background-color' :'orange'}" selected>{{a.statut}}</mat-chip>
          </mat-chip-list>
          <p>
            {{a.professeur}}
          </p>
        </mat-card>
      </a>
    </mat-list>
  </div>

  <!-- assignments terminé -->
  <div [ngClass]="'assignments-container'">
    <mat-list *ngFor="let a of assignmentsTermine">
      <a [ngClass]="'router-link'" routerLink="assignment/{{a._id}}">
        <mat-card [ngClass]="'card-container'" (click)="assignmentClique(a)">
          <mat-card-title [ngClass]="'card-title'">{{a.nom}}</mat-card-title>
          <h3 mat-subheader>Pour le: {{a.dateDeRendu | date}}</h3>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip [ngStyle]="{'background-color' : 'green'}" selected>{{a.statut}}</mat-chip>
          </mat-chip-list>
        </mat-card>
      </a>
    </mat-list>
  </div> 
  
  

</main>