<div class="search">
  <div>
    <mat-form-field class="searchField">
      <mat-label>Nom assignment</mat-label>
      <input matInput type="text" [(ngModel)]="filter.nom" (change)="getAssignments()">
      <button *ngIf="filter.nom" matSuffix mat-icon-button aria-label="Clear" (click)="filter.nom=''; getAssignments()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="searchField">
      <mat-label>Professeur</mat-label>
      <input matInput type="text" [(ngModel)]="filter.professeur" (change)="getAssignments()">
      <button *ngIf="filter.professeur" matSuffix mat-icon-button aria-label="Clear" (click)="filter.professeur=''; getAssignments()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button color="{{statuts.aFaire ? 'primary': 'basic'}}"
      (click)="filteringStatuts('à faire');statuts.aFaire ? statuts.aFaire = false : statuts.aFaire = true">A
      faire</button>
    <button mat-flat-button color="{{statuts.enCours ? 'primary': 'basic'}}"
      (click)="filteringStatuts('en cours');statuts.enCours ? statuts.enCours = false : statuts.enCours = true">En
      cours</button>
    <button mat-flat-button color="{{statuts.finit ? 'primary': 'basic'}}"
      (click)="filteringStatuts('finit');statuts.finit ? statuts.finit = false : statuts.finit =true">Finit</button>
    <button mat-flat-button color="{{statuts.rendu ? 'primary': 'basic'}}"
      (click)="filteringStatuts('rendu');statuts.rendu ? statuts.rendu = false : statuts.rendu =true">Rendu</button>
  </div>
  <mat-paginator [length]="total" [pageSize]="filter.pageSize" [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page" (page)="handlePageEvent($event)">
  </mat-paginator>
</div>

<main *ngIf="!formVisible" [ngClass]="'container'">
  <mat-list *ngFor="let assignment of assignment | keyvalue ">
    <div [ngClass]="'assignments-container'">
      <mat-list *ngFor="let a of assignment.value" [ngClass]="'list-card'">
        <mat-card [ngClass]="'card-container'">
          <mat-card-title [ngClass]="'card-title'">
            <a routerLink="dialog" [ngClass]="'router-link'" [routerLink]="['assignment', a._id]">
              <div>
                {{a.nom}}
              </div>
            </a>
            <button mat-mini-fab color="warn" (click)="handleDelete(a)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
          <a [ngClass]="'router-link'" [routerLink]="['/assignment',a._id]">
            <h3 mat-subheader>Pour le <span class="date"> {{a.dateDeRendu | date}}</span></h3>
            <mat-chip-list>
              <mat-chip [ngClass]="
                a.statut === 'à faire' ? 'pas-commence':
                a.statut === 'en cours' ? 'en-cours' :
                a.statut === 'finit' ? 'finit' :
                a.statut === 'rendu' ? 'rendu' : 'rendu' " selected>
                {{a.statut}}
              </mat-chip>
            </mat-chip-list>
          </a>
        </mat-card>
      </mat-list>
    </div>

  </mat-list>

  <router-outlet></router-outlet>

</main>