<div class="search">
  <div>
    <mat-form-field class="searchField">
      <mat-label>Nom assignment</mat-label>
      <input matInput type="text" [(ngModel)]="search.name">
      <button *ngIf="search.name" matSuffix mat-icon-button aria-label="Clear" (click)="search.name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="searchField">
      <mat-label>Professeur</mat-label>
      <input matInput type="text" [(ngModel)]="search.professor">
      <button *ngIf="search.professor" matSuffix mat-icon-button aria-label="Clear" (click)="search.professor=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button color="{{search.aFaire ? 'primary': 'basic'}}"
      (click)="search.aFaire ? search.aFaire = false : search.aFaire =true">A faire</button>
    <button mat-flat-button color="{{search.enCours ? 'primary': 'basic'}}"
      (click)="search.enCours ? search.enCours = false : search.enCours =true">En cours</button>
    <button mat-flat-button color="{{search.finit ? 'primary': 'basic'}}"
      (click)="search.finit ? search.finit = false : search.finit =true">Finit</button>
    <button mat-flat-button color="{{search.rendu ? 'primary': 'basic'}}"
      (click)="search.rendu ? search.rendu = false : search.rendu =true">Rendu</button>
    <button mat-flat-button (click)="handlesearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
</div>

<main *ngIf="!formVisible" [ngClass]="'container'">
  <mat-list *ngFor="let assignment of assginments | keyvalue ">
    <div [ngClass]="'assignments-container'">
      <mat-list *ngFor="let a of assignment.value" [ngClass]="'list-card'">

        <mat-card [ngClass]="'card-container'">
          <mat-card-title [ngClass]="'card-title'">
            <a routerLink="dialog" [ngClass]="'router-link'" [routerLink]="['assignment', a._id]">
              <div>
                {{a.nom}}
              </div>
            </a>
            <button mat-mini-fab color="warn" (click)="handleDelete(a)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
          <a [ngClass]="'router-link'" [routerLink]="['/assignment',a._id]">
            <h3 mat-subheader>Pour le <span class="date"> {{a.dateDeRendu | date}}</span></h3>
            <mat-chip-list>
              <mat-chip [ngClass]="
                a.statut === 'à faire' ? 'pas-commence':
                a.statut === 'en cours' ? 'en-cours' :
                a.statut === 'finit' ? 'finit' :
                a.statut === 'rendu' ? 'rendu' : 'rendu' " selected>
                {{a.statut}}
              </mat-chip>
            </mat-chip-list>
          </a>
        </mat-card>
      </mat-list>
    </div>

  </mat-list>

  <router-outlet></router-outlet>

</main>