<mat-toolbar class="header">
    <a routerLink="">{{title}} </a>
    <div *ngIf="auth ||auth !== null">Welcome {{auth.user.name}} {{auth.user.lastName}}</div>
    <div *ngIf="auth ||auth !== null">
        <button mat-button color="primary" (click)="handleAddAssignments()">
            <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-button color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="handleProfile()">
                <mat-icon>manage_accounts</mat-icon>
                Modify profile
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                Sign out
            </button>
            <!-- <button mat-menu-item (click)="peuplerBD()">
                peulplerBD
            </button> -->
        </mat-menu>
    </div>

</mat-toolbar>

<router-outlet></router-outlet>

<ng-template #loadingBlock>
    <mat-spinner></mat-spinner>
  </ng-template>