.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 15%;
    padding-top: 7%;
}

.form{
    display: flex;
    flex-direction: column;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}